/* body {
  display: flex;
  flex-direction: row;
} */
body {
  margin: 0%;
}
.btns-box {
  width: 800px;
  height: 650px;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin: 20px;
  border-radius: 3%;
  padding: 10px;
  margin-top: 3%;
  box-shadow: 5px 5px 5px rgb(183, 221, 224);
}
.game-over {
  display: none;
}
.btns {
  width: 30%;
  height: 30%;
  border-radius: 5%;
  background-color: rgb(51 120 173);
  margin: 10px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btns:active {
  transform: scale(0.9);
  opacity: 80%;
}
.heart-images {
  position: fixed;
  width: 10px;
  top: 320px;
  right: 320px;
}
.heart-images img {
  width: 100px;
  margin: 10px;
}
.score-photo {
  position: fixed;
  width: 400px;
  height: 520px;
  top: 230px;
  left: 50px;
}
#score {
  width: 100px;
  font-size: 90px;
  font-weight: bold;
  position: fixed;
  top: 355px;
  left: 230px;
  color: rgb(8 59 94);
}
#start-game {
  cursor: pointer;
  width: 150px;
  height: 70px;
  font-size: 40px;
  margin-left: 178px;
  margin-top: 0px;
  border-radius: 10%;
  /* margin-bottom: 200px; */
}
#start-game:hover {
  background-color: rgb(51 120 173);
  color: rgb(255, 255, 255);
}
#home {
  cursor: pointer;
  width: 150px;
  height: 70px;
  font-size: 40px;
  margin-right: 178px;
  margin-top: 0px;
  float: right;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  /* color: black;
  text-decoration: none; */
}
#home a {
  text-decoration: none;
  color: black;
}
#home:hover {
  background-color: rgb(51 120 173);
  color: rgb(255, 255, 255);
}
#home a:hover {
  color: rgb(255, 255, 255);
}
.game-over {
  background-image: url("../images/game-over-game.gif");
  background-size: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

/* flex-direction: row;
  line-height: 2;
  text-align: center; */
/* }
#btns-box h1 {
  font-size: 200px;
}
#btns-box h2 {
  font-size: 50px;
} */
