

        h1{
        text-align: center;
        color:#ea97bb;
        font-size: 60px;
        font-weight: 700;
        font-style: italic;
        /* display:none */
        }
      .forms{
        width: 50%;
        
        margin-top:10% ;
        margin-left:25% ;
         /* display: flex;
        flex-direction: space-around; */
        /* justify-content: center; */
        /* text-align: center; */
        /* align-items: center;  */
      }
      form {
        background: #fff;
        padding: 20px;
        
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /* max-width: 300px; */
        margin: auto;
      }
      label {
        display: block;
        margin-bottom: 10px;
        color: #000000;
        font-size:25px;
      }
      input[type="text"],
      input[type="password"] {
        width: 97%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        height: 40px;
      }
      button {
        width: 100%;
        padding: 10px;
        background-color: #ea97bb;
        border: none;
        border-radius: 3px;
        color: rgb(7, 0, 0);
        font-size: 16px;
        cursor: pointer;
      }
      button:hover {
        background-color: #d33094;
      }
        .error {
            color: red;
            margin-bottom: 15px;
            text-align: center;
        }