
          body {
        font-family: Arial, sans-serif;
        background-image: url("../images/galaxi.jpeg"); /* מגדיר את תמונת הרקע */
        background-repeat: no-repeat;               /* מונע חזרה של התמונה */
        background-size: cover;                    /* מכסה את כל המסך */
        background-position: center;              /* מרכז את התמונה */
        margin: 0;
        padding: 20px;
        height: 100vh;
      }
     
