body {
  font-family: Arial, sans-serif;
  background-image: url("../images/galaxi.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
}
iframe {
  width: 100%;
  background-color: #f9d9e7;
  margin: 0;
  border: none;
  margin-bottom: 0%;
}
#nav {
  width: 100%;
  text-align: center;
  opacity: 90%;
}
.forms {
  margin-top: 0;
}
